main > div {
  display: flex;
}

.about {
  background-color: black;
  color: white;
  width: 30%;
  padding: 15px;
}

.idea-list {
  display: flex;
  width: 50%;
  flex-wrap: wrap;
}

.idea-list li {
  width: 180px;
  padding: 5px;
  margin: 15px;
}

.idea-list li a {
  flex-direction: column;
}

.idea-list li img {
  height: 150px;
}


@media (max-width: 1250px) {
  main > div {
    flex-direction: column;
  }

  .about {
    width: 100%;
  }

  .idea-list {
    width: 100%;
  }
}