main {
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.menu {
  font-family: 'Cutive Mono', monospace;
  border-right: 1px dashed #222;
  border-left: 1px dashed #222;
  font-size: 24px;
  margin: 0 auto;
}

.menu ul {
  padding: 40px;
}

.menu ul li {
  margin-top: 15px;
}
