body {
  background-image: url("vaporwavebg.jpg");
  font-family: 'Roboto Mono', monospace;
  font-size: 27px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height:100vh;
}

main,
footer,
header {
  width: 900px;
  margin: 0 auto;
  text-align: center;
}

header {
  font-family: 'Major Mono Display', monospace;
}

.special {
  color: white;
}

main,
footer {
  color: white;

}

body,
ul {
  margin: 0;
}

.note {
  font-style: italic;
}

footer {
  font-size: 14px;
}

footer img {
  width: 50px;
  visibility: hidden;
  transition: .5s ease;
}

.secret {
  width: 50px;
  height:50px;
}

.secret:hover + img {
  visibility: visible;
}
