body {
  background-image: url("masquereade.jpg");
  font-family: 'Inconsolata', monospace;
  font-size: 27px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height:100vh;
}

header {
  width: 700px;
  margin: 0 auto;
  text-align: center;
}

main,
footer {
  margin-left: 676px;
  width: 555px;
}

body,
ul {
  margin: 0;
}

.capital-letter,
header text {
  font-family: 'Dancing Script', cursive;
}

.note {
  font-style: italic;
}

footer {
  font-size: 14px;
}

footer ul {
  margin-bottom: 10px;
}
