main {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.25em;
}

main, h1 {
  color: white;
}

main, h1, .comic-presentation {
  margin-left: 5%;
}

h1 {
  font-family: 'Cutive Mono', monospace;
}

 img {
   max-height: 450px;
 }

 .backButton {
   margin: 35px;
 }

 .comic-presentation {
   display: flex;
   flex-wrap: wrap;
   width: 60%;
 }

 .comic-presentation img {
   max-height: 600px;
   margin: 15px;
 }
